<div class="navbar">
  <ul>
    <a href="/home"><li>goals</li></a>
    <a href="/completed"><li>completed</li></a>
  </ul>
</div>

<div id="container">

<h2 id="welcome">Here is a list of your completed tasks and some data on your effeciency</h2>

<div id="goals">
{{#each completed}}
  <div class="goal">
    <h2>{{title}}</h2>
    {{#if description}}
    <p>{{description}}</p>
    {{/if}}
    <p id="start-time">Started: {{startDate}}</p>
    <p id="end-time">Completed: {{endDate}}</p>
    <p class="total-time"></p>
    <input type="hidden" id="id" value="{{_id}}">
  </div>
{{/each}}
</div>

</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', init);

  function init() {
    var taskTimes = document.getElementsByClassName('total-time');
    Array.prototype.forEach.call(taskTimes, function(ele) {
      calculateTimeDiff(ele);
    });
  }

  function calculateTimeDiff(ele) {

  }

</script>