<nav>
  <ul>
    <a href="/"><li>Home</li></a>
  </ul>
</nav>

<div class="full-image" style="background-image:url({{post.image}})">
<!-- <img src="{{post.image}}" style="height:200px;"> -->
</div>

<div class="container">

  <div class="">
    <h1 id="title">{{post.title}}</h1>
    <div class="post-full">
      <p>{{post.body}}</p>
    </div>
    <p>By: <a href="/authors/{{post.author}}">{{post.author}}</a> - {{post.date}}</p>

    <div class="tags">
      <p>Tags:</p>
      {{#each post.tags}}<a href="../tags/{{this}}"><button>{{this}}</button></a>{{/each}}
    </div>
  </div>

  
  <div id="comments">
  <h3>Comments</h3>
  {{#each post.comments}}
    <div class="comment">
      <p>{{comment}}</p>
      <p>By: {{user}}</p>
    </div>
  {{/each}}
  </div>

  <div id="comment-form">
    <h4>Add a Comment:</h4>
    <form id="c-form">
      <input type="text" name="comment" id="comment">
      <p>By: <input type="text" name="user" value="anonymous" id="user"><input type="submit" id="add-comment"></p>
    </form>
  </div>

</div>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', init);

  function init() {
    var submit = document.getElementById('add-comment');
    submit.addEventListener('click', handleAddComment);
    submit.addEventListener('click', handleUpdate);
  }

  function handleAddComment(event) {
    event.preventDefault();
    var req = new XMLHttpRequest();
    req.open('POST', 'http://localhost:3000/admin/comments/add', true);
    req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');

    var comment = document.getElementById('comment').value;
    var user = document.getElementById('user').value;
    var title = document.getElementById('title').textContent;
    req.send('comment='+comment+'&'+'user='+user+'&'+'title='+title);
    var form = document.getElementById('c-form').reset();
  }

  function handleUpdate(event) {
    event.preventDefault();
    var req = new XMLHttpRequest();
    var url = 'http://localhost:3000/admin/comments/?title=' + document.getElementById('title').textContent;
    req.open('get', url, true);

    req.addEventListener('load', function() {
      if (req.status >= 200 || req.status < 400) {
        var comments = JSON.parse(req.responseText);
        var last = comments.length - 1;

        var div = document.createElement('div');
        div.appendChild(document.createElement('p')).textContent = comments[last].comment;
        div.appendChild(document.createElement('p')).textContent = comments[last].user;
        div.classList.add('comment');

        var oldDiv = document.getElementById('comments');
        oldDiv.appendChild(div);
       
      }
    });
    req.send();
  }
</script>